<!--{{ name }}
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>

<input [type]="InputType" [value]="user.name" />
<!--truyen du lieu de hien thi-->
<!--nhan bien: ngoac vuong [] -->
<!--
<button type="button" (click)="handler($event)">Click me</button>
<br /><br />
<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
-->
<!------------------------>
<hello *ngIf="user.age >= 18; else under18" [name]="user.name"></hello>

<ng-template #under18>
  <div>You are too young to see this content</div>
</ng-template>

<button (click)="user.age = user.age - 1">-</button>
Age: {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>
<br /><br />
<button (click)="isWarning = !isWarning">Warning</button><br />
<button (click)="isDanger = !isDanger">Danger</button>
<!--
  - [class.tenclass]
  - [class] = "array"
  - [class] = "variable"
-->
<div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div>
<br />
<!--
  - [style.tenStyle]
  - [style.tenStyle.unit]
  - style = "object"
-->
<p
  [style.color]="'red'"
  [style.background]="'yellow'"
  [style.fontSize.px]="'20'"
>
  Start editing to see some magic happen :D
</p>

<p>Hello ! how are you</p>
